<style>
  .search-btn{
    background-color: #5a189a;
    color: #fff;
    border-radius: 20px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover{
    background-color: #5a189a;
    color: #fff;
  }
  .search-btn i{
    display: inline;
  }
  .search-inpt{
    border-radius: 20px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
    border: 1px solid rgb(95, 95, 95);
    outline: none;
  }
  .search-inpt:focus{
    border: 2px solid#5a189a;
    padding: 0.4rem 3rem;
    outline: none;
  }
  .navbar-container{
    background-color: white;
  }
  #sitelogo {
    height: 100%;
    max-height: 50px;
    width: auto;
    object-fit: contain;
    margin-left: 1rem;
  }
 .rent{
  border: 2px solid #5a189a;
  border-radius: 12px;
  margin-right: 6px;
 }
 .rent:hover{
  background-color: #5a189a;
  color: white !important;
  transition: 0.5s ease-in-out;
 }
  </style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid navbar-container">
      <a class="navbar-brand" href="/"><img id="sitelogo" src="/icon2.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
        </div>
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Rent a vehicle</a>
        </div>
        <div class="navbar-nav ms-auto">
          <div class="navbar-nav me-4">
            <form action="/listings" method="get" class="d-flex" role="search">
              <input
                name="search"
                class="me-2 search-inpt"
                type="search"
                placeholder="Search Vehicle"
                aria-label="Search"
              />
              <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
            </form>
          </div>
          <div class="navbar-nav">
            <%if(!currUser){ %>
              <a class="rent nav-link" href="/login">Rent your vehicle</a>
              <a class="nav-link" href="/signup"><b>Signup</b></a>
              <a class="nav-link" href="/login"><b>Login</b></a>
              <% }else { %>
              <a class="rent nav-link" href="/listings/new">Rent your vehicle</a>
              <a class="nav-link" href="/logout"><b>Logout</b></a>
            <% } %>
          </div>
        </div>
    </div>
    </div>
  </nav>