<% layout("/layouts/boilerplate")%>
<style>
  input:focus,textarea:focus, select:focus{
    box-shadow: none!important;
    border-color: #5a189a !important;
  }
</style>
<div class="row">
  <div class="col-10 col-md-8 offset-1 offset-md-2">
    <form method="POST" 
      action="/listings" 
      class="needs-validation" 
      novalidate 
      enctype="multipart/form-data"
    >
    <br><br>
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]" 
          placeholder="Add a title" 
          class="form-control"
          required
         />
         <div class="invalid-feedback">Title is Required</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required></textarea>
            <div class="invalid-feedback">Description is Required</div>
        </div>
        <div class="dropdown mb-3 col-4">
          <label for="type">Select Vehicle Type</label>
          <select name="listing[type]" id="type" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
            <option value="" disabled selected>Select a vehicle type</option>
            <option value="Car">Car</option>
            <option value="Bike">Bike</option>
            <option value="Truck">Truck</option>
            <option value="Van">Van</option>
            <option value="Bus">Bus</option>
            <option value="Helicopter">Helicopter</option>
            <option value="EV">EV</option>
            <option value="bicycle">bicycle</option>
          </select>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input
            type="file"
            name="listing[image]" 
            class="form-control"
            required
            />
        </div>
        <div class="row " >
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input
                type="number"
                name="listing[price]" 
                placeholder="1200" 
                class="form-control"
                required
                />
                <div class="invalid-feedback">Price is Required</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input
                type="text"
                name="listing[country]" 
                placeholder="India" 
                class="form-control"
                required
                />
                <div class="invalid-feedback">Country is Required</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input
            type="text" name="listing[location]" 
            placeholder="Jaipur, Rajasthan" 
            class="form-control"
            required
            />
            <div class="invalid-feedback">Location is Required</div>
        </div>
        <button class="btn btn-dark add-btn col-12 col-md-2 mt-2">Add</button>
        <br><br>
    </form>
  </div>
</div>