<% layout("/layouts/boilerplate")%>
<style>
    .img-container {
        width: 100%;
        height: 500px;
        position: relative;
    }
    
    .img-container::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
    
    .homeimg {
        width: 100%;
        object-fit: cover;
        height: 500px;
        display: block;
    }
    
    .on-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        text-align: center;
    }
    
    .on-img h2{
        color: rgb(184, 184, 184);
    }
    h1{
        color: white;
        margin-top: 10px;
    }
    .logo{
        height: 100px;
    }
    .filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    text-align: center;
    margin-top: 4rem;
    margin-right: 2rem;
    margin-bottom: 0;
    opacity: 0.7;
    cursor: pointer;
    border: 2px solid rgb(184, 184, 184);
    border-radius: 8px;
  }
  .filter:hover{
    opacity: 1;
  }
  .filter p{
    font-size: 0.7rem;
    color: white;
    margin: 0;
  }
  a{
    color: white;
  }
</style>
<div>
    <div class="img-container">
        <img class="homeimg" src="./homeimg.jpg">
        <div class="on-img">
            <div class="d-flex justify-content-center align-items-end">
                <img class="logo" src="icon2.png" alt="Icon">
                <h1>WheelShare</h1>
            </div>
            <h2>RENT A VEHICLE IN NCR</h2>
            <div class="d-flex justify-content-center">
                <div class="filter">
                    <div><a href="/listings?q=Car"><i class="fa-solid fa-car"></i></a></div>
                    <p>Rent Cars</p>
                  </div>
                <div class="filter">
                    <div><a href="/listings?q=Bike"><i class="fa-solid fa-motorcycle"></i></a></div>
                    <p>Rent Bikes</p>
                </div>
                <div class="filter">
                    <div><a href="/listings?q=EV"><i class="fa-solid fa-charging-station"></i></a></div>
                    <p>EVs</p>
                </div>
                  <div class="filter">
                    <div><a href="/listings?q=bicycle"><i class="fa-solid fa-bicycle"></i></a></div>
                    <p>bicycles</p>
            </div>
        </div>
    </div>

    <div>
        
    </div>    
</div>