<% layout("/layouts/boilerplate")%>

<div class="row mt-3 mb-3">
    <h1 class="col-6 offset-3">SignUp on Wanderlust</h1>
    <div class="col-8 col-md-6 offset-2 offset-md-3">
        <form action="/signup" method="POST" class="needs-validation signupForm" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input
                  name="username" 
                  id="username"
                  type="text"
                  class="form-control"
                  required
                 />
                 <div class="invalid-feedback">username is Required</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  name="email" 
                  id="email"
                  type="email"
                  class="form-control"
                  required
                 />
                 <div class="invalid-feedback">email is invalid</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                  name="password" 
                  id="password"
                  type="password"
                  class="form-control"
                  required
                 />
                 <div class="invalid-feedback">password is invalid</div>
            </div>

            <button class="btn btn-success signup-btn">Sign Up</button>
        </form>
    </div>
</div>

<script>
    let signUpBttn = document.querySelector('.signup-btn');
    let signUpForm = document.querySelector('.signupForm');
    signUpBttn.addEventListener("click",()=>{
        if(signUpForm.checkValidity()){
            signUpBttn.classList.add('disabled');
        }
    })
</script>